<nav class="flex gap-10 underline">
    <a class="py-3 px-10 transition-colors hover:bg-white hover:text-black" href="/"
        >home</a
    >
    <a
        class="py-3 px-10 transition-colors hover:bg-white hover:text-black"
        href="/art">art</a
    >
    <div aria-label="spacer" class="flex-1"></div>
    <a
        class="ml-24 py-3 px-10 transition-colors hover:bg-white hover:text-black"
        href="https://github.com/chazzox/project-omikron/tree/main/game"
        target="_blank">game</a
    >
</nav>
