<nav
    class="sticky top-0 flex justify-between bg-black underline shadow-sm shadow-indigo-500/40"
>
    <a
        rel="prefetch"
        class="py-3 px-10 transition-colors hover:bg-white/80 hover:text-black"
        href="/"
    >
        home
    </a>
    <a
        rel="prefetch"
        class="py-3 px-10 transition-colors hover:bg-white/80 hover:text-black"
        href="/art"
    >
        art
    </a>
    <div aria-label="spacer" class="hidden sm:block sm:flex-1"></div>
    <a
        class="py-3 px-10 transition-colors hover:bg-white/80 hover:text-black"
        href="https://github.com/chazzox/project-omikron/tree/main/game"
        target="_blank"
    >
        game
    </a>
</nav>
