---
import { Image } from "@astrojs/image/components";
import Layout from "../layouts/layout.astro";
const images = await Astro.glob("../../../art/*.png");
---

<Layout title="art">
    <div class="my-10 flex flex-col items-center gap-14">
        {
            images.map((v) => (
                <Image
                    height={300}
                    aspectRatio={2}
                    fit="contain"
                    src={`https://media.githubusercontent.com/media/chazzox/project-omikron/main${v.default.src}`}
                />
            ))
        }
    </div>
</Layout>
