---
import Layout from "../layouts/layout.astro";
const Images = await Astro.glob("/public/art-assets/*.webp");
---

<Layout title="art">
    <div class="my-10 flex flex-col items-center gap-14">
        {
            Images.map((v, i) => (
                <img
                    class="h-[400px]"
                    src={v.default}
                    alt={`game asset ${i + 1}`}
                    loading="eager"
                />
            ))
        }
    </div>
</Layout>
