---
import { Image } from "@astrojs/image/components";
import Layout from "../layouts/layout.astro";
import path from "path";
const Images = await Astro.glob("../assets/art-assets/*.png");
---

<Layout title="art">
    <div class="my-10 flex flex-col items-center gap-14">
        {
            Images.map((v, i) => (
                <Image
                    height={400}
                    aspectRatio={2}
                    fit="contain"
                    src={v.default.src}
                    alt={`game asset ${i + 1}`}
                    loading="eager"
                />
            ))
        }
    </div>
</Layout>
