---
import Layout from "../layouts/layout.astro";
import BlogPreview from "../components/blog-preview.astro";
import { xor } from "../utils";
const BlogsMdx = await Astro.glob("./blog/*.mdx");
---

<Layout title="project-omikron">
    <div class="mx-auto max-w-xl px-10 sm:px-0">
        {
            // filtering the blogs by pages hidden property (if it's not hidden)
            BlogsMdx.filter((c) => !c?.frontmatter?.hidden)
                // sorting the blogs by date
                .sort(
                    (p, c) =>
                        new Date(
                            p.frontmatter.date || new Date(Math.pow(1100, 5))
                        ).getTime() -
                        new Date(
                            c.frontmatter.date || new Date(Math.pow(1100, 5))
                        ).getTime()
                )
                .map(({ frontmatter, url }) => (
                    <BlogPreview {...frontmatter} url={url} />
                ))
        }
    </div>
</Layout>
