---
import Layout from "./layout.astro";
const {
    frontmatter: { title }
} = Astro.props;
---

<Layout title={title}>
    <div class="prose prose-invert mx-auto my-20 max-w-4xl px-8">
        <slot />
    </div>
</Layout>
